/* Font sizes. */
$font-small: 1em;
$font-medium: 1.5em;
$font-big: 2em;
$font-bigger: 4em;

/* Padding/Margin sizes. */
$space-small: 5px;
$space-medium: 10px;
$space-big: 15px;
$space-bigger: 20px;
$space-huge: 30px;
