@import 'colors';

$light-theme: (
    /* Backgrounds. */
    background-color: $white,
    background-focus-color: $gray,

    /* Borders. */
    border-color: $black,

    /* Buttons. */
    button-color: $blue,
    button-hover-color: darken($blue, 10%),
    button-destructive-color: $red,
    button-destructive-hover-color: darken($red, 10%),
    button-dark-color: $black,
    button-dark-hover-color: darken($black, 10%),
    button-transparent-color: transparent,
    button-transparent-hover-color: $gray,

    /* Links. */
    link-color: $blue,
    link-hover-color: $black,

    /* Text. */
    text-color: $black,
    text-element-color: $white,
    text-subtitle-color: $dark-gray,

    /* Misc. */
    error-color: $red,
    fill-color: $black,
    fill-element-color: $white,
    female-color: $pink,
    female-hover-color: darken($pink, 10%),
    male-color: $blue,
    male-hover-color: darken($blue, 10%),
    separator-color: $black
);

$dark-theme: (
    /* Backgrounds. */
    background-color: $black,
    background-focus-color: lighten($black, 10%),

    /* Borders. */
    border-color: darken($gray, 25%),

    /* Buttons. */
    button-color: $blue,
    button-hover-color: lighten($blue, 10%),
    button-destructive-color: $red,
    button-destructive-hover-color: lighten($red, 10%),
    button-dark-color: $dark-gray,
    button-dark-hover-color: lighten($dark-gray, 10%),
    button-transparent-color: transparent,
    button-transparent-hover-color: $gray,

    /* Links. */
    link-color: lighten($blue, 25%),
    link-hover-color: lighten($blue, 40%),

    /* Text. */
    text-color: $gray,
    text-element-color: $gray,
    text-subtitle-color: $dark-gray,

    /* Misc. */
    error-color: $red,
    fill-color: $black,
    fill-element-color: $white,
    female-color: $pink,
    female-hover-color: darken($pink, 10%),
    male-color: $blue,
    male-hover-color: darken($blue, 10%),
    separator-color: $gray
);