@mixin style-button($backgroundColor, $hoverColor, $fillColor: var(--fill-element-color), $fillHoverColor: null) {
    background-color: $backgroundColor !important;
    color: var(--text-element-color);

    & svg {
        fill: $fillColor;
        stroke: $fillColor;

        &:hover,
        &.selected {
            @if $fillHoverColor != null {
                fill: $fillHoverColor;
                stroke: $fillHoverColor;
            }
        }
    }

    &:hover,
    &.selected {
        background-color: $hoverColor !important;
    }
}
