@mixin style-button($backgroundColor, $hoverColor, $fillColor: var(--fill-element-color)) {
    background-color: $backgroundColor !important;
    color: var(--text-element-color);

    & svg {
        fill: $fillColor;
    }

    &:hover,
    &.selected {
        background-color: $hoverColor !important;
    }
}
