@import 'colors';

.circular-button {
    & .circle {
        background-color: var(--background-color);
        border: 4px solid var(--border-color);
        border-radius: 50%;
        box-sizing: border-box;
        fill: var(--fill-color);
        height: 100%;
        width: 100%;
    }
}
