@import 'colors';
@import 'sizes';

.full-size-sidebar {
    background-color: $gray;
    border-right: 2px solid $black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    & header {
        & .nav {
            align-self: flex-start;
            padding: $space-small;
        }

        & .logo {
            font-size: $font-bigger;
        }

        & .saves-buttons {
            display: flex;
            justify-content: center;

            & .play-button {
                align-self: center;
            }
        }
    }

    & footer {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 $space-medium;

        & .external-url:first-child {
            margin: 0 $space-medium;
        }
    }
}
