@import 'sizes';

.header {
    display: flex;
    justify-content: space-between;
    padding: $space-medium $space-big;

    & .side {
        display: flex;
        align-items: center;
        flex: 1;

        &.left {
            justify-content: flex-start;

            & > .calendar {
                margin-left: $space-medium;
            }

            & > .date {
                margin-left: $space-medium;
            }

            & > .time {
                margin-left: $space-medium;
            }
        }

        &.center {
            justify-content: center;
        }

        &.right {
            justify-content: flex-end;
        }
    }
}
