@import 'sizes';

.layout {
    display: flex;

    &.default {
        & > :first-child {
            width: 25%;
        }

        & > :nth-child(2) {
            overflow: auto;
            padding-bottom: $space-bigger;
            width: 75%;
        }
    }

    &.half {
        & > * {
            width: 50%;
        }
    }
}

.header-layout {
    display: flex;
    flex-direction: column;
}
