@import '../colors';
@import '../sizes';

.confirmation-dialog {
    padding: $space-bigger;

    & > p {
        color: $dark-gray;
        text-align: start;
    }

    & > .choice {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 $space-bigger;

        & > * {
            padding: $space-medium $space-huge;
        }

        & :first-child {
            margin-right: $space-medium;
        }
    }
}
