@import '../colors';
@import '../sizes';

.database-download-progress-dialog {
    padding: $space-bigger;

    & > .finished {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & > .button {
            width: 25%;
        }
    }
}
