@import 'src/ui/styles/_colors.scss';

.game {
    text-align: center;

    &,
    & > div {
        height: 100%;
    }

    & a {
        color: $blue;
        cursor: default;
        text-decoration: none;

        &:hover {
            color: $black;
        }
    }
}
