@import 'src/ui/styles/_colors.scss';
@import 'src/ui/styles/_sizes.scss';

.game {
    text-align: center;

    &,
    & > div {
        height: 100%;
    }

    & a {
        color: $blue;
        cursor: default;
        text-decoration: none;

        &:hover {
            color: $black;
        }
    }

    & .input {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: $space-small $space-medium;
        width: 100%;

        & label {
            text-transform: uppercase;
        }

        @mixin base_style() {
            box-sizing: border-box;
            font-size: $font-small;
            height: 2.5rem;
            padding: $space-small;
            width: 100%;
        }

        & input {
            @include base_style();
            border: 2px solid $black;
        }

        & select {
            @include base_style();
            border: 0;
            outline: 2px solid $black;
            outline-offset: -2px; // Needed for the select to be the same size as the inputs.
        }
    }

    & hr {
        background-color: $black;
        border: none;
        height: 2px;
        margin: $space-bigger $space-small;
    }
}
