@import 'src/ui/styles/_colors.scss';

@font-face {
    font-family: 'Duets';
    src: url(./assets/fonts/FredokaOne-Regular.ttf) format('truetype');
}

html,
body {
    height: 100%;
}

body {
    background-color: $white;
    margin: 0;
    user-select: none;

    & textarea,
    & select,
    & input,
    & button {
        outline: none;
    }

    & * {
        color: $black;
        font-family: 'Duets';
    }
}

#root {
    height: 100%;
}
