@import 'src/ui/styles/_colors.scss';
@import 'src/ui/styles/_themes.scss';

/* Default light theme. */
:root {
    @each $name, $color in $light-theme {
        --#{$name}: #{$color};
    }
}

/* Dark theme. */
@media (prefers-color-scheme: dark) {
    :root {
        @each $name, $color in $dark-theme {
            --#{$name}: #{$color};
        }
    }
}

@font-face {
    font-family: 'Duets';
    src: url(./assets/fonts/FredokaOne-Regular.ttf) format('truetype');
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--background-color);
    margin: 0;
    user-select: none;

    & textarea,
    & select,
    & input,
    & button {
        outline: none;
    }

    & * {
        color: var(--text-color);
        font-family: 'Duets';
    }
}

#root {
    height: 100%;
}
