@import 'src/ui/styles/_colors.scss';
@import 'src/ui/styles/_utils.scss';

.gender-button-circle {
    @include style-button(transparent, $black);

    & svg {
        height: 75%;
        padding-top: calc(75% / 10);
    }

    &:hover,
    &.selected {
        &.male {
            @include style-button($blue, $black);
        }

        &.female {
            @include style-button($pink, $black);
        }
    }
}
