@import 'src/ui/styles/_sizes.scss';

.character-creation {
    & > .instruments-skills {
        display: flex;
        flex-direction: column;

        & > .instrument {
            display: flex;
            flex-direction: row;
            width: 50%;
        }

        & .button {
            align-self: flex-end;
            margin: $space-medium;
            width: 25%;
        }
    }
}
