@import 'src/ui/styles/_sizes.scss';

.layout {
    display: flex;

    &.default {
        & > :first-child {
            width: 25%;
        }

        & > :nth-child(2) {
            overflow: auto;
            padding-bottom: $space-bigger;
            width: 75%;
        }
    }
}
