.layout {
    display: flex;
    flex-direction: column;

    &.default {
        & > :first-child {
            width: 25%;
        }

        & > :nth-child(2) {
            width: 75%;
        }
    }
}
